body * {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

body {
  /*
  background-image: url(./assets/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  
  * Vamos realizar o agrupamento
  * background: color image repeat position/size  
  */
  background: url(./assets/bg-mobile-dark.jpg) no-repeat top center/cover;  
}

#container {
  width: 360px;
  border: 1px solid yellow;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p{
  font-weight: 500;
  line-height: 24px;
}